
    <form autocomplete="off" (ngSubmit)="clickForm()" [formGroup]="myForm">
        
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input
                formControlName ="user"
                matInput
                placeholder="Email"
                name="user"
                [value]="title"
            />
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input
                formControlName ="pass"
                matInput
                placeholder="Password"
                type="password"
                name="pass"
            />
        </mat-form-field>
        
        <button mat-raised-button color="primary" 
                [disabled]="myForm.invalid">
            Log In
        </button>
    </form>
