<mat-sidenav-container class="sidenav-container">
   <mat-sidenav #drawer class="sidenav" fixedInViewport
       [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
       [mode]="(isHandset$ | async) ? 'over' : 'side'"
       [opened]="(isHandset$ | async) === false">
     <mat-toolbar>Menu</mat-toolbar>
     <mat-nav-list>
       <a mat-list-item #list1 (click)="[clickRef(1)]" [routerLink]="[{ outlets: { second: 'appointment' } }]" >Turnos</a>
       <a mat-list-item #list2 (click)="[clickRef(2)]" [routerLink]="[{ outlets: { second: 'user' } }]">Mi cuenta</a>
       <a mat-list-item #list3 (click)="[clickRef(4)]" [routerLink]="[{outlets: {second:'admin'}}]">Administrar</a>
       <a mat-list-item #list3 (click)="[clickRef(3)]" >Salir</a>
     </mat-nav-list>
   </mat-sidenav>
   <mat-sidenav-content>
     <mat-toolbar color="primary">
       <button
         type="button"
         aria-label="Toggle sidenav"
         mat-icon-button
         (click)="drawer.toggle()"
         *ngIf="isHandset$ | async">
         <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
       </button>
       <span>Reserva de turnos</span>
     </mat-toolbar>

     <router-outlet #outlet name="second"></router-outlet>
        



   </mat-sidenav-content>
 </mat-sidenav-container>
